|﻿Issue Number| SIDC|Hierarchy Code|Name|ProSampleOID| standard-image-screenshot |Runtime|Pro|
|---|---|---|---|---|---|---|---|
|https://github.com/Esri/military-features-data/issues/290|SFGPUCI--------|1.X.3.2.1.1 |INFANTRY||![](./Standard/SFGPUCI--------.png) |![](./Runtime/SFGPUCI--------.png) |![](./Pro/SFGPUCI--------.png) |
